<body>
  <%= render "shared/navbar" %>


<div><h2>Choose your granny</h2></div>

<ul>
  <%@grannies.each do |granny| %>
    <%= link_to granny_path(granny) do %>
      <div class='card'>
        <li><%= granny.first_name %></li>
        <li><%= granny.last_name %></li>
        <li><%= granny.description %></li>
        <li><%= granny.price%>€</li>
        <li><%= (Date.today - granny.birth_date).to_i / 365 %> years young</li>
        <%= cl_image_tag granny.photo.key %>
      </div>
    <%end %>
  <%end %>
</ul>
<%= render "shared/footer" %>

</body>
