<div class="container mt-5">
  <div class="row">
    <%@grannies.each do |granny| %>
      <div class="col-4">
        <div class='card mb-3'>
          <div class="card-body card-results card-select">
            <%= link_to granny_path(granny) do %>
              <%= cl_image_tag granny.photo.key %>
              <h2><%= "#{granny.first_name} #{granny.last_name}" %></h2>
              <p><%= granny.description %></p>
              <div class="d-flex justify-content-between">
                <p><%= granny.location%></p>
                <p><%= (Date.today - granny.birth_date).to_i / 365 %> years young</p>
              </div>
            <%end %>
            <div class="d-flex justify-content-between mt-2">
              <p><%= link_to "Book", new_granny_booking_path(granny), class: "btn-all book-link" %></p>
              <p> <strong> €<%= granny.price%> </strong></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
