<div class="container">
  <div class="row">
    <%@grannies.each do |granny| %>
      <div class="col-4">
      <%= link_to granny_path(granny) do %>
        <div class='card' style="width: 18rem;">
          <%= cl_image_tag granny.photo.key %>
          <div class="card-body">
            <p><%= granny.first_name + " " + granny.last_name %></p>
            <p><%= granny.description %></p>
            <p>€<%= granny.price%></p>
            <p><%= granny.location%></p>
            <p><%= (Date.today - granny.birth_date).to_i / 365 %> years young</p>
            <p><%= link_to "Bookings", user_bookings_path %></p>
          </div>
        </div>
      <%end %>
      </div>
    <%end %>
  </div>
</div>
