<div><h2>Choose your granny</h2></div>

<div class='card'>
<ul>
<%@grannies.each do |granny| %>
<li><%= granny.first_name %></li>
<li><%= granny.last_name %></li>
<li><%= granny.description %></li>
<li><%= granny.price %></li>
<li><%= fa_icon "heart" %></li>
<%end %>
</ul>
</div>
