<body>

<%= render "shared/navbar" %>

<h2>Grandmonster</h2>

<div class='granny-card'>
  <h2><%= @granny.first_name%></h2>
  <h2><%= @granny.last_name%></h2>
  <h2><%= @granny.description%></h2>
  <h2><%= @granny.price%> €</h2>
  <h2><%= (Date.today - @granny.birth_date).to_i / 365 %> years young</h2>
  <%= cl_image_tag @granny.photo.key %>
</div>

<%= link_to "Back for more fabulosity", grannies_path %>
<%= link_to "Book this grandmonster", new_granny_booking_path(@granny) %>

<%= render "shared/footer" %>
</body>
