    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <img src="https://res.cloudinary.com/monstergrannies/image/upload/v1653563963/Grannies/logorosa_tughri.png" />
      <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="teste ">
      <%= form_tag grannies_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "js-search",
          placeholder: "Search..."%>
        <%#= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
      <%# <input placeholder='Search...' class='js-search' type="text"> %>
          <i class="fa fa-search"></i>
    </div>

  <div class="menu">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Grannies", grannies_path, class: "nav-link" %>
          </li>

          <li class="nav-item active">
              <%= link_to "Add a grannie", grannies_path, class: "nav-link" %>
          </li>

          <li class="nav-item dropdown">
            <%= image_tag "https://res.cloudinary.com/monstergrannies/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1653661829/users%20photos/220504_Le_Wagon_116-X2_afodb1.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Granny Lover Profile", bookings_path, class: "dropdown-item" %>
              <%= link_to "Edit your account", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item"-->
            <li class="nav-item active">
              <%= link_to "Grannies", grannies_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to "Add a grannie", grannies_path, class: "nav-link" %>
            </li>
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              <%= link_to "SignUp", new_user_registration_path, class: "nav-link" %>
          </li-->
        <% end %>
      </ul>
    </div>
    </div>
  </div>
</div>
